MAILTO=motchang@gmail.com
# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * command to be executed
# *  *  *  *  *         /bin/bash -lc 'cd ${HOME}/cybozu/ && export DISPLAY=:99.0 && bundle exec ruby lazy.rb 2>&1'
# *  *  *  *  *         /bin/bash -lc 'cd ${HOME}/cybozu/ && export DISPLAY=:99.0 && bundle exec ruby hoge.rb 2>&1 1> log.log'
 48  9  *  *  1,2,3,4,5 /bin/bash -lc 'cd ${HOME}/cybozu/ && export DISPLAY=:99.0 && bundle exec ruby lazy.rb i 2>&1'
 10 19  *  *  1,2,3,4,5 /bin/bash -lc 'cd ${HOME}/cybozu/ && export DISPLAY=:99.0 && bundle exec ruby lazy.rb o 2>&1'
 48  9  *  *  1,2,3,4,5 /bin/bash -lc 'cd ${HOME}/teamspirit/ && export DISPLAY=:99.0 && bundle exec ruby lazy.rb i 2>&1'
 10 19  *  *  1,2,3,4,5 /bin/bash -lc 'cd ${HOME}/teamspirit/ && export DISPLAY=:99.0 && bundle exec ruby lazy.rb o 2>&1'

